<div class="feed-messages-container">
    <div class="feed-message">
        <div class="text-block text-message">
            <input  style="text-transform: capitalize;"  type="text" class="form-control form-control-rounded" (keydown)="getItems($event)" placeholder="Pesquisar">
        </div>
    </div>


    <div class="feed-message2" >
        <div class="text-block text-message">
            <div class="row">
                <!-- <div class="col 3">
                    <div class="message-header">
                        <span class="author">ID Frete</span>
                    </div>
                </div>-->
                <div class="col 6">
                    <div class="message-header">
                        <span class="author">Clientes</span>
                    </div>
                </div>
                <div class="col 3">
                    <div class="message-header">
                        <span class="author">Status</span>
                    </div>
                </div> 
              
                <div class="col 3">
                    <div class="message-header">
                        <span class="author"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="feed-message" *ngFor="let message of getFretes">
        <div class="text-block text-message">
            <div class="row">
                <!-- <div class="col 3">
                    <div class="message-header">
                        <span class="author">{{ message._id}}</span>
                    </div>
                </div>-->                
                <div class="col 6">
                    <div class="message-header">
                        <span class="author">{{ message.nomeCliente}}</span>
                    </div>
                </div>
                <div class="col 3">
                        <div class="message-header">
                            <span class="author">{{ message.status}}</span>
                        </div>
                    </div> 
                <div>
                    <button class=" button btn btn-info " (click)="visualizarMotorista(message)">Motorista</button>
                    <button class=" button btn btn-primary " (click)="visualizarDados(message)">Visualizar</button>
                    <button class=" button btn btn-success " (click)="editarDados(message)">Editar</button>
                    <button class=" button btn btn-danger " (click)="excluirDados(message)">Excluir</button>
                </div>
            </div>
        </div>
    </div>
</div>