<div class="widgets">

  <div class="row">
    <div class="col-md-6">
      <nb-card>
        <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>

        <nb-card-header> Dados Proprietario / Motorista</nb-card-header>
        <nb-card-body>
          <form>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-6 ">
                  <label for="cnpj">CPF - CNPJ</label>
                  <input style="text-transform: capitalize;" type="text" class="form-control" id="cnpj" name="cnpj"
                    placeholder="  Pessoa Juridica" [(ngModel)]="dadosVeiculos.cnpj"
                    (blur)="buscarDadosProprietario($event.target.value)">
                </div>
                <div class="col-6 ">
                  <label for="insc_estadual">RG - Inscrição Estadual</label>
                  <input style="text-transform: capitalize;" type="text" class="form-control" id="insc_estadual"
                    [(ngModel)]="dadosVeiculos.ins_est" name="dadosVeiculos.ins_est">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="nome"> Nome - Razão Social</label>
              <input style="text-transform: capitalize;" type="text" class="form-control" id="nome"
                [(ngModel)]="dadosVeiculos.razao_social" name="dadosVeiculos.razao_social"
                placeholder="Nome ou Razão Social">
            </div>
            <div class="form-group">
              <label for="nome">Endereço</label>
              <input style="text-transform: capitalize;" type="text" class="form-control" id="endereco"
                [(ngModel)]="dadosVeiculos.endereco" name="dadosVeiculos.endereco" placeholder="Endereço">
            </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-6 ">
                  <label for="telefone">Telefone</label>
                  <p-inputMask mask="(99)9999-9999" type="text" styleClass="form-control" id="telefone"
                    [(ngModel)]="dadosVeiculos.telefone" name="dadosVeiculos.telefone"></p-inputMask>
                </div>
                <div class="col-6 ">
                  <label for="celular">Celular</label>
                  <p-inputMask mask="(99)9.9999-9999" type="text" styleClass="form-control" id="celular"
                    [(ngModel)]="dadosVeiculos.celular" name="dadosVeiculos.celular"></p-inputMask>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-6 ">
                  <label for="cpf_motorista">CPF Motorista</label>
                  <input style="text-transform: capitalize;" type="text" class="form-control" id="cpf_motorista"
                    [(ngModel)]="dadosVeiculos.cpf_motorista" name="dadosVeiculos.cpf_motorista"
                    (blur)="buscarDadosMotorista($event.target.value)">
                </div>
                <div class="col-6 ">
                  <label for="rg_motorista">RG Motorista</label>
                  <input style="text-transform: capitalize;" type="text" class="form-control" id="rg_motorista"
                    [(ngModel)]="dadosVeiculos.rg_motorista" name="dadosVeiculos.rg_motorista">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-12 ">
                  <label for="nome_motorista">Nome Motorista</label>
                  <input style="text-transform: capitalize;" type="text" class="form-control" id="nome_motorista"
                    [(ngModel)]="dadosVeiculos.nome_motorista" name="dadosVeiculos.nome_motorista"
                    placeholder="Nome Motorista">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-6 ">
                  <label for="telefone_motorista">Telefone Motorista</label>
                  <p-inputMask mask="(99)9999-9999" type="text" styleClass="form-control" id="telefone_motorista"
                    [(ngModel)]="dadosVeiculos.telefone_motorista" name="dadosVeiculos.telefone_motorista">
                  </p-inputMask>
                </div>
                <div class="col-6 ">
                  <label for="celular_motorista">Celular Motorista</label>
                  <p-inputMask mask="(99)9.9999-9999" type="text" styleClass="form-control" id="celular_motorista"
                    [(ngModel)]="dadosVeiculos.celular_motorista" name="dadosVeiculos.celular_motorista"></p-inputMask>
                </div>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-6">
      <nb-card>
        <nb-card-header> Dados Veiculos</nb-card-header>
        <nb-card-body>
          <form>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-8 ">
                  <label for="telefone">Descrição </label>
                  <input style="text-transform: capitalize;" type="text" class="form-control" id="descricao"
                    [(ngModel)]="dadosVeiculos.descricao" name="dadosVeiculos.descricao">
                </div>
                <div class="col-4 ">
                  <label for="celular">Placa</label>
                  <p-inputMask styleClass="form-control" id="placa" [(ngModel)]="dadosVeiculos.placa"
                    name="dadosVeiculos.placa" mask="aaa-9999"></p-inputMask>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-4 ">
                  <label for="email">Ano </label>
                  <input style="text-transform: capitalize;" type="text" class="form-control" id="ano"
                    [(ngModel)]="dadosVeiculos.ano" name="dadosVeiculos.ano">
                </div>
                <div class="col-4 ">
                  <label for="contato">Cor</label>
                  <input style="text-transform: capitalize;" type="text" class="form-control" id="cor"
                    [(ngModel)]="dadosVeiculos.contato" name="dadosVeiculos.cor">
                </div>
                <div class="col-4 ">
                  <label for="contato">Marca Modelo</label>
                  <input style="text-transform: capitalize;" type="text" class="form-control" id="marca_modelo"
                    [(ngModel)]="dadosVeiculos.marca_modelo" name="dadosVeiculos.marca_modelo">
                </div>

              </div>
            </div>

            <div class="form-group">
              <div class="row show-grid">
                <div class="col-4 ">
                  <label for="dtnasc">Chassi </label>
                  <input style="text-transform: capitalize;" type="text" class="form-control" id="chassi"
                    [(ngModel)]="dadosVeiculos.chassi" name="dadosVeiculos.chassi">
                </div>
                <div class="col-4 ">
                  <label for="renavam">Renavam</label>
                  <input style="text-transform: capitalize;" type="text" class="form-control" id="renavam"
                    [(ngModel)]="dadosVeiculos.renavam" name="dadosVeiculos.renavam">
                </div>
                <div class="col-4">
                  <label for="med_carroceria">Med. Carroceria</label>
                  <input style="text-transform: capitalize;" type="text" class="form-control" id="med_carroceria"
                    [(ngModel)]="dadosVeiculos.med_carroceria" name="dadosVeiculos.med_carroceria">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row show-grid">

                <div class="col-4">
                  <label for="tara">Tara</label>
                  <input style="text-transform: capitalize;" type="text" class="form-control" id="tara"
                    [(ngModel)]="dadosVeiculos.tara" name="dadosVeiculos.tara">
                </div>
                <div class="col-4">
                  <label for="cap_m3">Capaciade m3</label>
                  <input style="text-transform: capitalize;" type="text" class="form-control" id="cap_m3"
                    [(ngModel)]="dadosVeiculos.cap_m3" name="dadosVeiculos.cap_m3">
                </div>
                <div class="col-4">
                  <label for="cap_KG">Capacidade Kilo</label>
                  <input style="text-transform: capitalize;" type="text" class="form-control" id="cap_KG"
                    [(ngModel)]="dadosVeiculos.cap_KG" name="dadosVeiculos.cap_KG">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-6">
                  <label for="n_eixos">Quant. Eixos</label>
                  <select class="form-control" id="n_eixos" [(ngModel)]="dadosVeiculos.n_eixos"
                    name="dadosVeiculos.n_eixos">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                  </select>
                </div>
              <div class="col-6">
                <label for="uf">Tipo Veiculo</label>
                <select class="form-control" id="tipo_veiculo" [(ngModel)]="dadosVeiculos.tipo_veiculo" name="dadosVeiculos.tipo_veiculo">
                    <option value = "Motocicleta">Motocicleta</option>
                    <option value = "Utilitário">Utilitário</option>
                    <option value = "VUC">VUC</option>
                    <option value = "Toco Baú">Toco Baú</option>
                    <option value = "Toco Aberto">Toco Aberto</option>
                    <option value = "Truck Aberto">Truck Aberto</option>
                    <option value = "Truck Fechado">Truck Fechado</option>
                    <option value = "Truck Sider">Truck Sider</option>
                    <option value = "SR Aberto">SR Aberto</option>
                    <option value = "SR Fechado">SR Fechado</option>
                    <option value = "Cavalo 4X2">Cavalo 4X2</option>
                    <option value = "Cavalo 6X2">Cavalo 6X2</option>
                    <option value = "Cavalo 6X2 T">Cavalo 6X2 T</option>
                    <option value = "Cavalo 6X4">Cavalo 6X4</option>
                    <option value = "Cavalo 8X4">Cavalo 8X4</option>
                </select>
              </div>
            </div>
            </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-6">
                  <label for="cidade_veiculo">Cidade Veiculo</label>
                  <input style="text-transform: capitalize;" type="text" class="form-control" id="cidade_veiculo"
                    [(ngModel)]="dadosVeiculos.cidade_veiculo" name="dadosVeiculos.cidade_veiculo">
                </div>
                <div class="col-6">
                  <label for="uf">UF </label>
                  <select class="form-control" id="uf" [(ngModel)]="dadosVeiculos.uf" name="dadosVeiculos.uf">
                    <option value="AC">AC</option>
                    <option value="AL">AL</option>
                    <option value="AP">AP</option>
                    <option value="AM">AM</option>
                    <option value="BA">BA</option>
                    <option value="CE">CE</option>
                    <option value="DF">DF</option>
                    <option value="ES">ES</option>
                    <option value="GO">GO</option>
                    <option value="MA">MA</option>
                    <option value="MT">MT</option>
                    <option value="MS">MS</option>
                    <option value="MG">MG</option>
                    <option value="PA">PA</option>
                    <option value="PB">PB</option>
                    <option value="PR">PR</option>
                    <option value="PE">PE</option>
                    <option value="PI">PI</option>
                    <option value="RJ">RJ</option>
                    <option value="RN">RN</option>
                    <option value="RS">RS</option>
                    <option value="RO">RO</option>
                    <option value="RR">RR</option>
                    <option value="SC">SC</option>
                    <option value="SP">SP</option>
                    <option value="SE">SE</option>
                    <option value="TO">TO</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-12">
                  <label for="informacao">Informações</label>
                  <input style="text-transform: capitalize;" type="text" class="form-control" id="informacao"
                    [(ngModel)]="dadosVeiculos.informacao" name="dadosVeiculos.informacao">
                </div>

              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header> Ações</nb-card-header>
        <nb-card-body>
          <form>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-6 ">
                  <button class="btn btn-primary btn-auth" (click)="cadastrar(dadosVeiculos)">ADICIONAR</button>
                  <button class="btn btn-danger btn-auth">CANCELAR</button>
                </div>

              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

</div>
