<div class="widgets">

  <div class="row">
    <div class="col-md-6">
      <nb-card>
        <nb-card-header> Dados Empresa </nb-card-header>
        <p-toast [style]="{marginTop: '80px'}" position="top-right" ></p-toast>
        <nb-card-body>
          <form>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-6 ">
                  <label for="cnpj">CNPJ</label>
                  <input  style="text-transform: capitalize;"  type="text class="form-control" id="cnpj" name="cnpj" [(ngModel)]="dadosFornecedores.cnpj" placeholder="  Pessoa Juridica"
                    (blur)="buscarDados($event.target.value)">
                </div>
                <div class="col-6 ">
                  <label for="insc_estadual">Inscrição Estadual</label>
                  <input  style="text-transform: capitalize;"  type="text class="form-control" id="insc_est" [(ngModel)]="dadosFornecedores.insc_est" name="dadosFornecedores.insc_est">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="nome">Razão Social</label>
              <input  style="text-transform: capitalize;"  type="text class="form-control" id="nome" [(ngModel)]="dadosFornecedores.razao_social" name="dadosFornecedores.razao_social"
                placeholder="Nome ou Razão Social">
            </div>
            <div class="form-group">
              <label for="nome">Nome Fantasia</label>
              <input  style="text-transform: capitalize;"  type="text class="form-control" id="fantasia" [(ngModel)]="dadosFornecedores.fantasia" name="dadosFornecedores.fantasia"
                placeholder="Nome Fantasia">
            </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-6 ">
                  <label for="data_cadastro">Data Cadastro</label>
                  <input type="date" class="form-control" id="data_cadastro" [(ngModel)]="dadosFornecedores.data_cadastro" name="dadosFornecedores.data_cadastro">

                </div>
                <div class="col-6 ">
                  <label for="insc_municipal">Inscrição Municipal</label>
                  <input  style="text-transform: capitalize;"  type="text class="form-control" id="insc_mun" [(ngModel)]="dadosFornecedores.insc_mun" name="dadosFornecedores.insc_mun">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-12 ">
                  <label for="segmento">Segmento Empresa</label>
                  <input  style="text-transform: capitalize;"  type="text class="form-control" id="segmento" [(ngModel)]="dadosFornecedores.segmento" name="dadosFornecedores.segmento">
                </div>
                <!-- <div class="col-6 ">
              </div> -->
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-6">
      <nb-card>
        <nb-card-header> Contatos Empresa </nb-card-header>
        <nb-card-body>
          <form>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-8 ">
                  <label for="telefone">Telefone </label>
                  <input  style="text-transform: capitalize;"  type="text class="form-control" id="telefone" [(ngModel)]="dadosFornecedores.telefone" name="dadosFornecedores.telefone">
                </div>
                <div class="col-4 ">
                  <label for="celular">Celular</label>
                  <input  style="text-transform: capitalize;"  type="text class="form-control" id="celular" [(ngModel)]="dadosFornecedores.celular" name="dadosFornecedores.celular">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-8 ">
                  <label for="email">Email </label>
                  <input  style="text-transform: capitalize;"  type="text class="form-control" id="email" [(ngModel)]="dadosFornecedores.email" name="dadosFornecedores.email">
                </div>
                <div class="col-4 ">
                  <label for="contato">Contato</label>
                  <input  style="text-transform: capitalize;"  type="text class="form-control" id="contato" placeholder=" Nome Contato" [(ngModel)]="dadosFornecedores.contato"
                    name="dadosFornecedores.contato">
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row show-grid">
                <div class="col-4 ">
                  <label for="dtnasc">Data Abertura </label>
                  <input  style="text-transform: capitalize;"  type="text class="form-control" id="dtnasc" [(ngModel)]="dadosFornecedores.dtNasc" name="dadosFornecedores.dtNasc">
                </div>
                <div class="col-4 ">
                  <label for="cep">Cep</label>
                  <input  style="text-transform: capitalize;"  type="text class="form-control" id="cep" [(ngModel)]="dadosFornecedores.cep" name="dadosFornecedores.cep">
                </div>
                <div class="col-4 ">
                  <label for="complemento">Complemento</label>
                  <input  style="text-transform: capitalize;"  type="text class="form-control" id="complemento" placeholder="Complemento" [(ngModel)]="dadosFornecedores.complemento"
                    name="dadosFornecedores.complemento">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-10">
                  <label for="cep">Endereço</label>
                  <input  style="text-transform: capitalize;"  type="text class="form-control" id="endereco" [(ngModel)]="dadosFornecedores.endereco" name="dadosFornecedores.endereco">
                </div>
                <div class="col-2">
                  <label for="nro">Nº</label>
                  <input  style="text-transform: capitalize;"  type="text class="form-control" id="nro" placeholder="nº casa" [(ngModel)]="dadosFornecedores.numero" name="dadosFornecedores.numero">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-6">
                  <label for="bairro">Bairro</label>
                  <input  style="text-transform: capitalize;"  type="text class="form-control" id="bairro" [(ngModel)]="dadosFornecedores.bairro" name="dadosFornecedores.bairro">
                </div>
                <div class=" col-4">
                  <label for="cidade">Cidade</label>
                  <input  style="text-transform: capitalize;"  type="text class="form-control" id="cidade" [(ngModel)]="dadosFornecedores.cidade" name="dadosFornecedores.cidade">
                </div>
                <div class="col-2">
                  <label for="estado">Estado</label>
                  <input  style="text-transform: capitalize;"  type="text class="form-control" id="estado" [(ngModel)]="dadosFornecedores.estado" name="dadosFornecedores.estado">
                </div>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header> Ações </nb-card-header>
        <nb-card-body>
          <form>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-6 ">
                  <button class="btn btn-primary btn-auth" (click)="cadastrar(dadosFornecedores)">ADICIONAR</button>
                  <button class="btn btn-danger btn-auth">CANCELAR</button>
                </div>

              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

</div>