<div class="widgets">

    <div class="row">
        <div class="col-md-6">
            <nb-card>
                <nb-card-header> Fotos Veiculos</nb-card-header>
                <nb-card-body>
                    <form>
                        <div class="form-group">
                            <div class="row show-grid">
                                <img class="img-circle" [src]="imagePathFoto">
                            </div>
                        </div>

                    </form>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-md-6">
            <nb-card>
                <nb-card-header> Foto Documento</nb-card-header>
                <nb-card-body>
                    <form>
                        <div class="form-group">
                            <div class="row show-grid">
                                <img class="img-circle" [src]="imagePathDoc">
                            </div>
                        </div>

                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>

</div>