<div class="widgets">
    
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header> Dados do Motorista</nb-card-header>
                <p-toast [style]="{marginTop: '80px'}" position="top-right" ></p-toast>

                <nb-card-body>
                    <form>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-2 ">
                                    <label for="cores">CPF </label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="cpf" [(ngModel)]="data.cpf" name="data.cpf" (blur)="buscarDadosMotorista($event.target.value)">
                                </div>
                                <div class="col-2 ">
                                    <label for="tamanho">RG</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="rg" [(ngModel)]="data.rg" name="data.rg">
                                </div>
                                <div class="col-2">
                                    <label for="categoria">Celular </label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="celular" [(ngModel)]="data.celular" name="data.celular">
                                </div>

                                <div class="col-6 ">
                                    <label for="desc_produto">Nome</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="nome" [(ngModel)]="data.nome" name="data.nome">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-2 ">
                                    <label for="fabricante">Data Admissão</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="data_admi" [(ngModel)]="data.data_admi" name="data.data_admi">
                                </div>
                                <div class="col-2">
                                    <label for="comissao_vendas">Placa </label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="placa_caminhao" [(ngModel)]="data.placa" name="data.placa">
                                </div>
                                <div class="col-2">
                                    <label for="foto_produto"> Data Nascimento</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="dtaNasc" [(ngModel)]="data.dtaNasc" name="data.dtaNasc">
                                </div>
                                <div class="col-4">
                                    <label for="foto_produto"> Observação</label>
                                    <input type="text-area" class="form-control" id="dtaNasc" [(ngModel)]="data.observacao" name="data.observacao">
                                </div>
                                <div class="col-2">
                                    <label for="status">Status </label>
                                    <select  style="text-transform: capitalize;"  type="text" class="form-control" id="status" placeholder="Ativo / Inativo" [(ngModel)]="data.status" name="data.status">
                                        <option value="Ativo">Ativo</option>
                                        <option value="Inativo">Inativo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <nb-card>
                <nb-card-header> Dados do Coletas</nb-card-header>
                <nb-card-body>
                    <form>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-4 ">
                                    <label for="desc_max"> CNPJ</label>
                                    <input   type="text" class="form-control" id="nota_fiscal" [(ngModel)]="coleta.cnpj_cliente" name="coleta.cnpj_cliente" (blur)="buscarDadosCNPJColeta($event.target.value)">
                                </div>
                                <div class="col-8 ">
                                    <label for="preco">Nome</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="razao_social_cliente" [(ngModel)]="coleta.razao_social_cliente" name="coleta.razao_social_cliente"
                                        (blur)="pegarCoordenadas(coleta.endereco)">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-12 ">
                                    <label for="desc_max">Endereco</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="endereco" [(ngModel)]="coleta.endereco_cliente" name="coleta.endereco_cliente"
                                        disabled>
                                </div>                                                             
                            </div>
                        </div> 
                        <div class="form-group">   
                            <div class="row show-grid">
                                <div class="col-6 ">
                                    <label for="desc_max">Cidade</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="cidade" [(ngModel)]="coleta.cidade_cliente" name="coleta.cidade_cliente"
                                        disabled>
                                </div>
                                <div class="col-2 ">
                                    <label for="desc_max">UF</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="uf" [(ngModel)]="coleta.uf_cliente" name="coleta.uf_cliente"
                                        disabled>
                                </div>
                                <div class="col-4 ">
                                    <label for="uf_anp">Telefone Cliente</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="telefone_cliente" [(ngModel)]="coleta.telefone_cliente" name="coleta.telefone_cliente">
                                </div>                               
                            </div>
                        </div>                       
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-md-6">
            <nb-card>
                <nb-card-header> Dados do Entrega</nb-card-header>
                <nb-card-body>
                    <form>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-4 ">
                                    <label for="desc_max"> CNPJ</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="nota_fiscal" [(ngModel)]="entrega.cnpj_cliente" name="entrega.cnpj_cliente" (blur)="buscarDadosCNPJEntrega($event.target.value)">
                                </div>
                                <div class="col-8 ">
                                    <label for="preco">Nome</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="razao_social_cliente" [(ngModel)]="entrega.razao_social_cliente" name="entrega.razao_social_cliente"
                                        (blur)="pegarCoordenadas(entrega.endereco)">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-12 ">
                                    <label for="desc_max">Endereco</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="endereco" [(ngModel)]="entrega.endereco_cliente" name="entrega.endereco_cliente"
                                        disabled>
                                </div>
                            </div> 
                        </div>    
                        <div class="form-group">    
                            <div class="row show-grid">
                                <div class="col-6 ">
                                    <label for="desc_max">Cidade</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="cidade" [(ngModel)]="entrega.cidade_cliente" name="coleta.cidade_cliente"
                                        disabled>
                                </div>
                                <div class="col-2 ">
                                    <label for="desc_max">UF</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="uf" [(ngModel)]="entrega.uf_cliente" name="coleta.uf_cliente"
                                        disabled>
                                </div>
                                <div class="col-4 ">
                                    <label for="uf_anp">Telefone Cliente</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="telefone_cliente" [(ngModel)]="entrega.telefone_cliente" name="coleta.telefone_cliente">
                                </div>                               
                            </div>                               
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header> Dados do Romaneio</nb-card-header>
                <nb-card-body>
                    <form>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-3 ">
                                    <label for="cod_anp">Status Romaneio</label>
                                    <select type="text" class="form-control" id="status" [(ngModel)]="coleta.status" name="coleta.status">
                                        <option value="Em Negociacao">Em Negociação</option>
                                        <option value="Aberto">Aberto</option>
                                        <option value="Fechado">Fechado</option>
                                    </select>
                                </div>
                                <div class="col-3 ">
                                    <label for="ncm">Peso</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="peso" [(ngModel)]="coleta.peso" name="coleta.peso">
                                </div>
                                <div class="col-3">
                                    <label for="cfop_venda">Volume</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="volume" [(ngModel)]="coleta.volume" name="coleta.volume">
                                </div>
                                <div class="col-3 ">
                                    <label for="cest">Cubagem</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="cubagem" [(ngModel)]="coleta.cubagem" name="coleta.cubagem">
                                </div>                                
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-4 ">
                                    <label for="unidade_medida">Frete Negociado</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="frete_negociado" [(ngModel)]="coleta.frete_negociado" name="coleta.frete_negociado">
                                </div>
                                <div class="col-4 ">
                                    <label for="uf_anp">Frete Motorista</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="frete_motorista" [(ngModel)]="coleta.frete_motorista" name="coleta.frete_motorista">
                                </div>
                                <div class="col-4 ">
                                    <label for="cest">Tipo de Veiculo</label>
                                    <select  style="text-transform: capitalize;"  type="text" class="form-control" id="tipo_veiculo" [(ngModel)]="coleta.tipo_veiculo" name="coleta.tipo_veiculo">
                                        <option value="Motocicleta">Motocicleta</option> 
                                        <option value="Utilitário">Utilitário</option> 
                                        <option value="VUC">VUC</option> 
                                        <option value="Toco Baú">Toco Baú</option> 
                                        <option value="Toco Aberto">Toco Aberto</option> 
                                        <option value="Truck Aberto">Truck Aberto</option> 
                                        <option value="Truck Fechado">Truck Fechado</option> 
                                        <option value="Truck Sider">Truck Sider</option> 
                                        <option value="SR Aberto">SR Aberto</option> 
                                        <option value="SR Fechado">SR Fechado</option> 
                                        <option value="Cavalo 4X2">Cavalo 4X2</option> 
                                        <option value="Cavalo 6X2">Cavalo 6X2</option> 
                                        <option value="Cavalo 6X2 T">Cavalo 6X2 T</option> 
                                        <option value="Cavalo 6X4">Cavalo 6X4</option> 
                                        <option value="Cavalo 8X4">Cavalo 8X4</option> 
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header> Ações</nb-card-header>
                <nb-card-body>
                    <form>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-6 ">
                                    <button class="btn btn-primary btn-auth" (click)="cadastrar(data,coleta,entrega)">CADASTRAR</button>
                                    <button class="btn btn-danger btn-auth" (click)="cancelar()" >CANCELAR</button>
                                </div>
                                <div class="col-6 ">
                                    <button class="btn btn-primary btn-auth" (click)="cadastrarMotorista()">MOTORISTAS</button>
                                    <button class="btn btn-primary btn-auth" (click)="cadastrarCliente()">CLIENTES</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>

</div>