<div class="widgets">

    <div class="row">
      <div class="col-md-6">
        <nb-card>
          <nb-card-header> Dados Proprietario </nb-card-header>
          <p-toast [style]="{marginTop: '80px'}" position="top-right" ></p-toast>

          <nb-card-body>
            <form>
              <div class="form-group">
                <div class="row show-grid">
                  <div class="col-6 ">
                    <label for="cpf">CPF</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="cpf" name="dadosProprietarios.cpf" placeholder="  Pessoa Fisica" [(ngModel)]="dadosProprietarios.cpf" (blur)="buscarCPF($event.target.value)">
                  </div>
                  <div class="col-6 ">
                    <label for="data_admi">Data Cadastro</label>
                    <input type="date" class="form-control" id="data_admi" name="dadosProprietarios.data_admi" [(ngModel)]="dadosProprietarios.data_admi">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="nome">Nome</label>
                <input  style="text-transform: capitalize;"  type="text" class="form-control" id="nome" name="dadosProprietarios.nome" [(ngModel)]="dadosProprietarios.nome">
              </div>
              <div class="form-group">
                <div class="row show-grid">
                  <div class="col-6 ">
                    <label for="est_civil">Estado Civil</label>
                    <select  style="text-transform: capitalize;"  type="text" class="form-control" id="est_civil" [(ngModel)]="dadosProprietarios.est_civil" name="dadosProprietarios.est_civil">
                      <option value="Casado">Casado</option>
                      <option value="Solteiro">Solteiro</option>
                      <option value="Viuvo">Viuvo</option>
                      <option value="Outros">Outros</option>
                    </select>
                  </div>
                  <div class="col-6 ">
                    <label for="situacao">Situacao</label>
                    <select  style="text-transform: capitalize;"  type="text" class="form-control" id="situacao" [(ngModel)]="dadosProprietarios.situacao" name="dadosProprietarios.situacao">
                      <option value="Ativo">Ativo</option>
                      <option value="Inativo">Inativo</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row show-grid">
                  <div class="col-12 ">
                    <label for="nome_pai">Nome Pai</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="nome_pai" [(ngModel)]="dadosProprietarios.nome_pai" name="dadosProprietarios.nome_pai">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row show-grid">
                  <div class="col-12 ">
                    <label for="nome_pai">Nome Mãe</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="nome_mae" [(ngModel)]="dadosProprietarios.nome_mae" name="dadosProprietarios.nome_mae">
                  </div>
                </div>
              </div>
            </form>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-6">
        <nb-card>
          <nb-card-header> Contato Proprietario </nb-card-header>
          <nb-card-body>
            <form>
              <div class="form-group">
                <div class="row show-grid">
                  <div class="col-4 ">
                    <label for="telefone">Telefone 1 </label>
                    <p-inputMask styleClass="form-control" id="telefone1" [(ngModel)]="dadosProprietarios.fone1" name="dadosProprietarios.telefone1" mask="(99) 9999-9999"></p-inputMask>
                  </div>
                  <div class="col-4 ">
                    <label for="telefone">Telefone 2 </label>
                    <p-inputMask styleClass="form-control" id="telefone2" [(ngModel)]="dadosProprietarios.fone2" name="dadosProprietarios.telefone2" mask="(99) 9999-9999"></p-inputMask>
                  </div>
                  <div class="col-4 ">
                    <label for="celular">Celular</label>
                    <p-inputMask styleClass="form-control" id="celular" [(ngModel)]="dadosProprietarios.celular" name="dadosProprietarios.celular" mask="(99) 9.9999-9999"></p-inputMask>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row show-grid">
                  <div class="col-8 ">
                    <label for="email">Email </label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="email" [(ngModel)]="dadosProprietarios.email" name="dadosProprietarios.email">
                  </div>
                  <div class="col-4 ">
                    <label for="contato">Contato</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="contato" placeholder=" Nome Contato" [(ngModel)]="dadosProprietarios.contato" name="dadosProprietarios.contato">
                  </div>
                </div>
              </div>
  
              <div class="form-group">
                <div class="row show-grid">
                  <div class="col-4 ">
                    <label for="dtnasc">Data Nasc </label>
                    <input type="date" class="form-control" id="dtnasc" [(ngModel)]="dadosProprietarios.dtNasc" name="dadosProprietarios.dtNasc">
                  </div>
                  <div class="col-4 ">
                    <label for="cep">Cep</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="cep" [(ngModel)]="dadosProprietarios.cep" name="dadosProprietarios.cep" (blur)="buscarDados($event.target.value)">
                  </div>
                  <div class="col-4 ">
                    <label for="complemento">Complemento</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="complemento" placeholder="Complemento" [(ngModel)]="dadosProprietarios.complemento"
                      name="dadosProprietarios.complemento">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row show-grid">
                  <div class="col-10">
                    <label for="cep">Endereço</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="endereco" [(ngModel)]="dadosProprietarios.endereco" name="dadosProprietarios.endereco">
                  </div>
                  <div class="col-2">
                    <label for="nro">Nº</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="nro" placeholder="nº casa" [(ngModel)]="dadosProprietarios.numero" name="dadosProprietarios.numero">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row show-grid">
                  <div class="col-6">
                    <label for="bairro">Bairro</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="bairro" [(ngModel)]="dadosProprietarios.bairro" name="dadosProprietarios.bairro">
                  </div>
                  <div class=" col-4">
                    <label for="cidade">Cidade</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="cidade" [(ngModel)]="dadosProprietarios.cidade" name="dadosProprietarios.cidade">
                  </div>
                  <div class="col-2">
                    <label for="estado">Estado</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="estado" [(ngModel)]="dadosProprietarios.estado" name="dadosProprietarios.estado">
                  </div>
                </div>
              </div>
            </form>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <nb-card>
          <nb-card-header> Informações RG</nb-card-header>
          <nb-card-body>
            <form>
              <div class="form-group">
                <div class="row show-grid">
                  <div class="col-3">
                    <label for="rg">RG</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="rg" [(ngModel)]="dadosProprietarios.rg" name="dadosProprietarios.rg">
                  </div>
                  <div class=" col-3">
                    <label for="uf_rg">UF RG</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="uf_rg" [(ngModel)]="dadosProprietarios.uf_rg" name="dadosProprietarios.uf_rg">
                  </div>
                  <div class="col-3">
                    <label for="cidade_nasc">Naturalidade</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="cidade_nasc" [(ngModel)]="dadosProprietarios.cidade_nasc" name="dadosProprietarios.cidade_nasc">
                  </div>
                  <div class="col-3">
                    <label for="cidade_nasc">Nacionalidade</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="pais" [(ngModel)]="dadosProprietarios.pais" name="dadosProprietarios.pais">
                  </div>
                </div>
              </div>
            </form>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <nb-card>
          <nb-card-header> Informações CNH </nb-card-header>
          <nb-card-body>
            <form>
              <div class="form-group">
                <div class="row show-grid">
                  <div class="col-4">
                    <label for="cnh_registro">Registro</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="cnh_registro" [(ngModel)]="dadosProprietarios.cnh_registro" name="dadosProprietarios.cnh_registro">
                  </div>
                  <div class=" col-4">
                    <label for="cnh_espelho">Espelho</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="cnh_espelho" [(ngModel)]="dadosProprietarios.cnh_espelho" name="dadosProprietarios.cnh_espelho">
                  </div>
                  <div class="col-4">
                    <label for="cnh_categoria">Categoria</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="cnh_categoria" [(ngModel)]="dadosProprietarios.cnh_categoria" name="dadosProprietarios.cnh_categoria">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row show-grid">
                  <div class="col-4">
                    <label for="cnh_pri_habilitacao">Primeira Habilitação</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="cnh_pri_habilitacao" [(ngModel)]="dadosProprietarios.cnh_pri_habilitacao" name="dadosProprietarios.cnh_pri_habilitacao">
                  </div>
                  <div class=" col-4">
                    <label for="cnh_dt_emiss">Data Emissao</label>
                    <input type="date" class="form-control" id="cnh_dt_emiss" [(ngModel)]="dadosProprietarios.cnh_dt_emiss" name="dadosProprietarios.cnh_dt_emiss">
                  </div>
                  <div class="col-4">
                    <label for="cnh_renach">Renach</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="cnh_renach" [(ngModel)]="dadosProprietarios.cnh_renach" name="dadosProprietarios.cnh_renach">
                  </div>
                </div>
              </div>
            </form>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <nb-card>
          <nb-card-header> Informações Referenciais </nb-card-header>
          <nb-card-body>
            <form>
              <div class="form-group">
                <div class="row show-grid">
                  <div class="col-8">
                    <label for="ref_nome1">Nome Completo</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="ref_nome1" [(ngModel)]="dadosProprietarios.ref_nome1" name="dadosProprietarios.ref_nome1">
                  </div>
                  <div class=" col-4">
                    <label for="ref_contato1">Contato</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="ref_contato1" [(ngModel)]="dadosProprietarios.ref_contato1" name="dadosProprietarios.ref_contato1">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row show-grid">
                  <div class="col-8">
                    <label for="ref_nome2">Nome Completo</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="ref_nome2" [(ngModel)]="dadosProprietarios.ref_nome2" name="dadosProprietarios.ref_nome2">
                  </div>
                  <div class=" col-4">
                    <label for="ref_contato2">Contato</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="ref_contato2" [(ngModel)]="dadosProprietarios.ref_contato2" name="dadosProprietarios.ref_contato2">
                  </div>
                </div>
              </div>
            </form>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  
  
    <div class="row">
      <div class="col-md-12">
        <nb-card>
          <nb-card-header> Ações</nb-card-header>
          <nb-card-body>
            <form>
              <div class="form-group">
                <div class="row show-grid">
                  <div class="col-6 ">
                    <button class="btn btn-primary btn-auth" (click)="cadastrar(dadosProprietarios)">ADICIONAR</button>
                    <button class="btn btn-danger btn-auth"  (click)="cancelar()">CANCELAR</button>
                  </div>
  
                </div>
              </div>
            </form>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>