<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header> Enviar Notificação </nb-card-header>
                <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
                <nb-card-body>
                    <form>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-4">
                                    <label for="id_aplicativo">ID Aplicativo</label>
                                    <input    type="text" class="form-control" id="id_aplicativo" name="id_aplicativo"
                                        [(ngModel)]="dadosMensagem.id_aplicativo" placeholder=" ID Aplicativo">
                                </div>
                                <div class="col-4">
                                    <label for="included_segments">Segmento Enviar</label>
                                    <p-chips [(ngModel)]="this.dadosMensagem.included_segments" name="dadosMensagem.included_segments" styleClass="form-control" ></p-chips>
                                    <!-- <input  style="text-transform: capitalize;"  type="text" class="form-control" id="included_segments" [(ngModel)]="dadosMensagem.included_segments"
                                        name="dadosMensagem.included_segments"> -->
                                </div>
                                <div class="col-4">
                                    <label for="headings">Titulo Mensagem</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="headings" [(ngModel)]="dadosMensagem.headings"
                                        name="dadosMensagem.headings">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-12 ">
                                    <label for="contents">Conteudo Mensagem</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" id="contents" [(ngModel)]="dadosMensagem.contents"
                                        name="dadosMensagem.contents">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-6 ">
                                    <button class="btn btn-primary btn-auth" (click)="enviar(dadosMensagem)">Enviar</button>
                                    <button class="btn btn-danger btn-auth" (click)="cancelar()">CANCELAR</button>
                                </div>

                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>