<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Modals</nb-card-header>
      <nb-card-body>
        <button class="btn btn-success" (click)="cliente()">Large modal</button>
        <button class="btn btn-warning" (click)="motorista()">Small modal</button>
      </nb-card-body>
    </nb-card>
  </div>
</div>
