<p-toast [style]="{marginTop: '80px'}" position="top-right" ></p-toast>
<nb-auth-block>        
    <h2 class="title">Login</h2>
    <small class="form-text sub-title">Olá! Entre com seu CNPJ</small>
    <form [formGroup]="formLogin">
        <div class="form-group">  
                <div class="input-group">
                        <span class="input-group-addon addon-left" id="tipo_acesso">
                            <i class="fa fa-user fa-fw"></i>
                        </span>
                        <select class="form-control with-primary-addon" placeholder="Tipo de Acesso" type="text" [(ngModel)]="data.tipo_acesso" formControlName="tipo_acesso">
                            <option value="Administrador">Administrador</option>
                            <option value="Cliente">Cliente</option>
                        </select>
                    </div>             
            <div class="input-group">
                <span class="input-group-addon addon-left" id="cnpj">
                    <i class="fa fa-user fa-fw"></i>
                </span>
                <input class="form-control with-primary-addon" placeholder="CNPJ" type="text" [(ngModel)]="data.cnpj" formControlName="cnpj">
            </div>
            <div class="input-group">
                <span class="input-group-addon addon-left" id="password">
                    <i class="fa fa-lock fa-fw"></i>
                </span>
                <input class="form-control with-primary-addon" placeholder="Password" formControlName="password" type="password" [(ngModel)]="data.password">
            </div>
        </div>
        <button class="btn btn-lg btn-primary" [disabled]="formLogin.invalid" (click)="acessar(data)">Acessar</button>
    </form>
</nb-auth-block>