<div class="feed-messages-container">
    <div class="feed-message">
        <div class="text-block text-message" >
            <input  style="text-transform: capitalize;"  type="text class="form-control form-control-rounded" (keydown)="getItems($event)" placeholder="Pesquisar" >
        </div>
    </div>


    <div class="feed-message" *ngFor="let message of getFornecedores">
        <div class="text-block text-message">
            <div class="row">
                <div class="col 2">
                    <div class="message-header">
                        <span class="author"> CNPJ: {{ message.cnpj}}</span>
                    </div>
                </div>
                <div class="col 4">
                    <div class="message-header">
                        <span class="author">{{ message.razao_social}}</span>
                    </div>
                </div>
                <div class="col 2">
                    <div class="message-header">
                        <span class="author">{{ message.telefone}}</span>
                    </div>
                </div>
                <div>
                    <button class=" button btn btn-primary " (click)="visualizarDados(message)">Visualizar</button>
                    <button class=" button btn btn-success " (click)="editarDados(message)">Editar</button>
                    <button class=" button btn btn-danger " (click)="excluirDados(message)">Excluir</button>
                </div>
            </div>
        </div>
    </div>
</div>