<div class="feed-messages-container">
  <div class="feed-message">
    <div class="text-block text-message">
      <input  style="text-transform: capitalize;"  type="text" class="form-control form-control-rounded" (keydown)="getItems($event)" placeholder="Pesquisar">
    </div>
  </div><br><br>


  <div class="feed-message2">
    <div class="text-block text-message">
      <div class="row">
       <hr>
      </div>
    </div>
  </div><br>
  <div class="feed-message"  *ngFor="let message of link"><br>
    <div class="text-block text-message">
      <div class="row">
        <div class="col 2">
          <div class="message-header">
            <span class="author"><b>Numero Canhoto:</b> 212121212212</span>         
          </div>
        </div>
        <div class="col 8">
            <div class="message-header">
              <img src="{{message}}" style="width:150px; height:40px" (click)="ver($event,message,op)">            
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<p-overlayPanel #op style=" position: absolute;left: 20%; top: 40%">
    <img src="{{linkSelecionado}}"  style="width:450px; height:300px"/>
</p-overlayPanel>

