<div class="feed-messages-container">
    <div class="feed-message">
        <div class="text-block text-message">
            <div class="row">
                <div class="col 10">
                    <div class="message-header">
                        <input  style="text-transform: capitalize;"  type="text" class="form-control form-control-rounded" (keydown)="getItems($event)" placeholder="Pesquisar">
                    </div>
                </div>
                <div class="col 2">
                    <div class="message-header">
                        <button class=" button btn btn-success " (click)="adicionar()">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="feed-message" *ngFor="let message of listar">
        <div class="text-block text-message">
            <div class="row">

                <div class="col 6">
                    <div class="message-header">
                        <span class="author">{{ message.nome}}</span>
                    </div>
                </div>
                <div class="col 2">
                    <div class="message-header">
                        <span class="author">{{ message.celular}}</span>
                    </div>
                </div>
                <div class="col 2">
                    <div class="message-header">
                        <span class="author"> CNPJ: {{ message.cpf}}</span>
                    </div>
                </div>
                <div>
                    <button class=" button btn btn-info " (click)="fotos(message.cpf)">Fotos</button>
                    <button class=" button btn btn-primary " (click)="visualizarDados(message)">Visualizar</button>
                    <button class=" button btn btn-success " (click)="editarDados(message)">Editar</button>
                </div>
            </div>
        </div>
    </div>
</div>