<div class="widgets">

  <div class="row">
    <div class="col-md-6">
      <nb-card>
        <nb-card-header> Visualizar - Dados Empresa </nb-card-header>
        <p-toast [style]="{marginTop: '80px'}" position="top-right" ></p-toast>
        <nb-card-body>
          <form>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-6 ">
                  <label for="cnpj">CNPJ</label>
                  <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="cnpj" name="cnpj" [(ngModel)]="dadosClientes.cnpj">
                </div>
                <div class="col-6 ">
                  <label for="insc_estadual">Inscrição Estadual</label>
                  <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="insc_est" [(ngModel)]="dadosClientes.insc_est" name="dadosClientes.insc_est">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="nome">Razão Social</label>
              <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="nome" [(ngModel)]="dadosClientes.razao_social" name="dadosClientes.razao_social"
                placeholder="Nome ou Razão Social">
            </div>
            <div class="form-group">
              <label for="nome">Nome Fantasia</label>
              <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="fantasia" [(ngModel)]="dadosClientes.fantasia" name="dadosClientes.fantasia"
                placeholder="Nome Fantasia">
            </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-6 ">
                  <label for="data_cadastro">Data Cadastro</label>
                  <input type="date" class="form-control" disabled id="data_cadastro" [(ngModel)]="dadosClientes.data_cadastro" name="dadosClientes.data_cadastro">

                </div>
                <div class="col-6 ">
                  <label for="insc_municipal">Inscrição Municipal</label>
                  <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="insc_mun" [(ngModel)]="dadosClientes.insc_mun" name="dadosClientes.insc_mun">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row show-grid">
                  <div class="col-9 ">
                      <label for="segmento">Segmento Empresa</label>
                      <input  style="text-transform: capitalize;"  type="text" class="form-control" id="segmento" [(ngModel)]="dadosClientes.segmento" name="dadosClientes.segmento">
                  </div>
                  <div class="col-3 ">
                      <label for="segmento">Senha</label>
                      <input   type="text" class="form-control" id="senha" [(ngModel)]="dadosClientes.senha" name="dadosClientes.senha">
                  </div>
              </div>
          </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-6">
      <nb-card>
        <nb-card-header> Contatos Empresa </nb-card-header>
        <nb-card-body>
          <form>
            <div class="form-group">
              <div class="row show-grid">
                  <div class="col-8 ">
                      <label for="telefone">Telefone </label>
                      <p-inputMask type="text" styleClass="form-control" disabled id="telefone" [(ngModel)]="dadosClientes.telefone" name="dadosClientes.telefone"  mask="(99) 9999-9999 "></p-inputMask>
                  </div>
                  <div class="col-4 ">
                      <label for="celular">Celular</label>
                      <p-inputMask type="text" styleClass="form-control" id="celular"  disabled [(ngModel)]="dadosClientes.celular" name="dadosClientes.celular"  mask="(99) 9.9999-9999 "></p-inputMask>

                  </div>
              </div>
          </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-8 ">
                  <label for="email">Email </label>
                  <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="email" [(ngModel)]="dadosClientes.email" name="dadosClientes.email">
                </div>
                <div class="col-4 ">
                  <label for="contato">Contato</label>
                  <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="contato" placeholder=" Nome Contato" [(ngModel)]="dadosClientes.contato"
                    name="dadosClientes.contato">
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row show-grid">
                <div class="col-4 ">
                  <label for="dtnasc">Data Nasc </label>
                  <input type="date" class="form-control" disabled id="dtnasc" [(ngModel)]="dadosClientes.dtNasc" name="dadosClientes.dtNasc">
                </div>
                <div class="col-4 ">
                  <label for="cep">Cep</label>
                  <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="cep" [(ngModel)]="dadosClientes.cep" name="dadosClientes.cep">
                </div>
                <div class="col-4 ">
                  <label for="complemento">Complemento</label>
                  <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="complemento" placeholder="Complemento" [(ngModel)]="dadosClientes.complemento"
                    name="dadosClientes.complemento">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-10">
                  <label for="cep">Endereço</label>
                  <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="endereco" [(ngModel)]="dadosClientes.endereco" name="dadosClientes.endereco">
                </div>
                <div class="col-2">
                  <label for="nro">Nº</label>
                  <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="nro" placeholder="nº casa" [(ngModel)]="dadosClientes.numero" name="dadosClientes.numero">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-6">
                  <label for="bairro">Bairro</label>
                  <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="bairro" [(ngModel)]="dadosClientes.bairro" name="dadosClientes.bairro">
                </div>
                <div class=" col-4">
                  <label for="cidade">Cidade</label>
                  <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="cidade" [(ngModel)]="dadosClientes.cidade" name="dadosClientes.cidade">
                </div>
                <div class="col-2">
                  <label for="estado">Estado</label>
                  <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="estado" [(ngModel)]="dadosClientes.estado" name="dadosClientes.estado">
                </div>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header> Ações </nb-card-header>
        <nb-card-body>
          <form>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-6 ">
                  <button class="btn btn-primary btn-auth" (click)="atualizar()">EDITAR</button>
                  <button class="btn btn-danger btn-auth" (click)="cancelar()">CANCELAR</button>
                </div>

              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

</div>