<div class="feed-messages-container">
  <div class="row">
    <div class="col 3">
      <div class="message-header">
        <input type="date" class="form-control form-control-rounded" placeholder="Data Inicial" id="data_inicial" [(ngModel)]="data_inicial">
      </div>
    </div>
    <div class="col 3">
      <div class="message-header">
        <input type="date" class="form-control form-control-rounded" placeholder="Data Final" id="data_final" [(ngModel)]="data_final">
      </div>
    </div>
    <div class="col 3">
      <div class="message-header">
          <select name="tipo" id="tipo" class="form-control form-control-rounded" [(ngModel)]="tipo">
            <option value="doc">Documento</option>
            <option value="cnh">Habilitação</option>
          </select>
              
      </div>
    </div>
    <div class="col 3">
      <div class="message-header">
        <button class=" button btn btn-info " (click)="pesquisar(data_inicial, data_final, tipo)">Pesquisar</button>
      </div>
    </div>
  </div><br><br>

  <div class="row">
    <div class="col-md-6">
      <nb-card>
        <nb-card-header> Relatorio Motorista </nb-card-header>
        <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>

        <nb-card-body *ngFor="let message of getRelatoriosCnh">
          <div class="message-header">
            <span class="author"><b>Data CNH:</b> {{ message.cnh_dt_emiss |  date:'dd/MM/yyyy'}}</span>
          </div>
          <div class="message-header">
            <span class="author"><b>Nome:</b> {{ message.nome}}</span>
          </div>
          <div class="message-header">
            <span class="author"><b>Celular:</b> {{ message.celular}}</span>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-6">
      <nb-card>
        <nb-card-header> Relatorio Veiculo </nb-card-header>
        <nb-card-body *ngFor="let message of getRelatoriosDoc">
          <div class="message-header">
            <span class="author"><b>Placa: </b> {{ message.placa}}</span>
          </div>
          <div class="message-header">
            <span class="author"><b>Nome: </b> {{ message.razao_social}}</span>
          </div>

        </nb-card-body>
      </nb-card>
    </div>
  </div>


  <!-- <div class="feed-message" *ngFor="let message of getRelatorios">
    <div class="text-block text-message">
      <div class="row">
        <div class="col 6">
          <div class="message-header">
            <span class="author">{{ message.nomeCliente}}</span>
          </div>
        </div>
        <div class="col 3">
          <div class="message-header">
            <span class="author">{{ message.status}}</span>
          </div>
        </div>
      </div>
    </div>
  </div> -->