<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()">UPPERTRUCK</div>
  </div>
  <ngx-theme-switcher></ngx-theme-switcher>
</div>

<div class="header-container">
  <ngx-layout-direction-switcher></ngx-layout-direction-switcher>
  <nb-actions>
      
    <nb-action icon="nb-notifications" class="toggle-layout" (click)="toggleSettings()">
        <span class="badge badge-light">4</span>
    </nb-action>
    <nb-action icon="nb-locked"  class="toggle-layout" (click)="logout()"></nb-action>   
  </nb-actions>
</div>
