<div class="widgets">
    <p-confirmDialog></p-confirmDialog>

  <div class="row">
    <div class="col-md-6">
      <nb-card>
        <nb-card-header> Dados Motorista </nb-card-header>
        <p-toast [style]="{marginTop: '80px'}" position="top-right" ></p-toast>

        <nb-card-body>
          <form>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-6 ">
                  <label for="cpf">CPF</label>
                  <input style="text-transform: capitalize;"  type="text"  class="form-control" id="cpf" name="dadosMotoristas.cpf" placeholder="  Pessoa Fisica" [(ngModel)]="dadosMotoristas.cpf" >
                </div>
                <div class="col-6 ">
                  <label for="data_admi">Data Cadastro</label>
                  <input type="date" class="form-control" id="data_admi" name="dadosMotoristas.data_admi" [(ngModel)]="dadosMotoristas.data_admi">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="nome">Nome</label>
              <input style="text-transform: capitalize;"  type="text"  class="form-control" id="nome" name="dadosMotoristas.nome" [(ngModel)]="dadosMotoristas.nome">
            </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-6 ">
                  <label for="est_civil">Estado Civil</label>
                  <select class="form-control" id="estado_civil" [(ngModel)]="dadosMotoristas.estado_civil" name="dadosMotoristas.estado_civil">
                    <option value="solteiro">Solteiro</option>
                    <option value="casado">Casado</option>
                    <option value="divorciado">Divorciado</option>
                    <option value="viuvo">Viuvo</option>
                    <option value="uniao_estavel">União Estavel</option>
                  </select>                </div>
                <div class="col-6 ">
                    <label for="est_civil">Situacao</label>
                    <select class="form-control" id="situacao" [(ngModel)]="dadosMotoristas.situacao" name="dadosMotoristas.situacao">
                    <option value="ativo">Ativo</option>
                    <option value="inativo">Inativo</option>
                    <option value="pedente">Pendente</option>
                    <option value="bloqueado">Bloqueado</option>
                    </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-12 ">
                  <label for="nome_pai">Nome Pai</label>
                  <input style="text-transform: capitalize;"  type="text"  class="form-control" id="nome_pai" [(ngModel)]="dadosMotoristas.nome_pai" name="dadosMotoristas.nome_pai">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-12 ">
                  <label for="nome_pai">Nome Mãe</label>
                  <input style="text-transform: capitalize;"  type="text"  class="form-control" id="nome_mae" [(ngModel)]="dadosMotoristas.nome_mae" name="dadosMotoristas.nome_mae">
                </div>
              </div>
            </div>
            <div class="form-group">
                <div class="row show-grid">
                  <div class="col-6 ">
                    <label for="senha">Senha</label>
                    <input type="text"  class="form-control" id="senha" [(ngModel)]="dadosMotoristas.senha" name="dadosMotoristas.senha">
                  </div>

                  <div class="col-6 ">
                    <label for="device">Device</label>
                    <input type="text"  class="form-control" id="device" [(ngModel)]="dadosMotoristas.device" name="dadosMotoristas.device">
                  </div>
                </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-6">
      <nb-card>
        <nb-card-header> Contato Motorista </nb-card-header>
        <nb-card-body>
          <form>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-4 ">
                  <label for="telefone">Telefone 1 </label>
                  <p-inputMask styleClass="form-control" id="telefone1" [(ngModel)]="dadosMotoristas.fone1" name="dadosMotoristas.telefone1" mask="(99) 9999-9999"></p-inputMask>
                </div>
                <div class="col-4 ">
                  <label for="telefone">Telefone 2 </label>
                  <p-inputMask styleClass="form-control" id="telefone2" [(ngModel)]="dadosMotoristas.fone2" name="dadosMotoristas.telefone2" mask="(99) 9999-9999"></p-inputMask>
                </div>
                <div class="col-4 ">
                  <label for="celular">Celular</label>
                  <p-inputMask styleClass="form-control" id="celular" [(ngModel)]="dadosMotoristas.celular" name="dadosMotoristas.celular" mask="(99) 9.9999-9999"></p-inputMask>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-8 ">
                  <label for="email">Email </label>
                  <input  type="text"  class="form-control" id="email" [(ngModel)]="dadosMotoristas.email" name="dadosMotoristas.email">
                </div>
                <div class="col-4 ">
                  <label for="contato">Contato</label>
                  <input style="text-transform: capitalize;"  type="text"  class="form-control" id="contato" placeholder=" Nome Contato" [(ngModel)]="dadosMotoristas.contato" name="dadosMotoristas.contato">
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row show-grid">
                <div class="col-4 ">
                  <label for="dtnasc">Data Nasc </label>
                  <input type="date" class="form-control" id="dtnasc" [(ngModel)]="dadosMotoristas.dtNasc" name="dadosMotoristas.dtNasc">
                </div>
                <div class="col-4 ">
                  <label for="cep">Cep</label>
                  <input style="text-transform: capitalize;"  type="text"  class="form-control" id="cep" [(ngModel)]="dadosMotoristas.cep" name="dadosMotoristas.cep" (blur)="buscarDados($event.target.value)">
                </div>
                <div class="col-4 ">
                  <label for="complemento">Complemento</label>
                  <input style="text-transform: capitalize;"  type="text"  class="form-control" id="complemento" placeholder="Complemento" [(ngModel)]="dadosMotoristas.complemento"
                    name="dadosMotoristas.complemento">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-10">
                  <label for="cep">Endereço</label>
                  <input style="text-transform: capitalize;"  type="text"  class="form-control" id="endereco" [(ngModel)]="dadosMotoristas.endereco" name="dadosMotoristas.endereco">
                </div>
                <div class="col-2">
                  <label for="nro">Nº</label>
                  <input style="text-transform: capitalize;"  type="text"  class="form-control" id="nro" placeholder="nº casa" [(ngModel)]="dadosMotoristas.numero" name="dadosMotoristas.numero">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-6">
                  <label for="bairro">Bairro</label>
                  <input style="text-transform: capitalize;"  type="text"  class="form-control" id="bairro" [(ngModel)]="dadosMotoristas.bairro" name="dadosMotoristas.bairro">
                </div>
                <div class=" col-4">
                  <label for="cidade">Cidade</label>
                  <input style="text-transform: capitalize;"  type="text"  class="form-control" id="cidade" [(ngModel)]="dadosMotoristas.cidade" name="dadosMotoristas.cidade">
                </div>
                <div class="col-2">
                  <label for="estado">Estado</label>
                  <input style="text-transform: capitalize;"  type="text"  class="form-control" id="estado" [(ngModel)]="dadosMotoristas.estado" name="dadosMotoristas.estado">
                </div>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header> Informações RG</nb-card-header>
        <nb-card-body>
          <form>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-3">
                  <label for="rg">RG</label>
                  <input style="text-transform: capitalize;"  type="text"  class="form-control" >
                </div>
                <div class=" col-3">
                  <div>
                      <label for="uf_rg">UF RG</label>
                      <select class="form-control" id="rg" [(ngModel)]="dadosMotoristas.rg" name="dadosMotoristas.rg">
                          <option value="ac">Acre</option>
                          <option value="al">Alagoas</option>
                          <option value="am">Amazonas</option>
                          <option value="ap">Amapá</option>
                          <option value="ba">Bahia</option>
                          <option value="ce">Ceará</option>
                          <option value="df">Distrito Federal</option>
                          <option value="es">Espírito Santo</option>
                          <option value="go">Goiás</option>
                          <option value="ma">Maranhão</option>
                          <option value="mt">Mato Grosso</option>
                          <option value="ms">Mato Grosso do Sul</option>
                          <option value="mg">Minas Gerais</option>
                          <option value="pa">Pará</option>
                          <option value="pb">Paraíba</option>
                          <option value="pr">Paraná</option>
                          <option value="pe">Pernambuco</option>
                          <option value="pi">Piauí</option>
                          <option value="rj">Rio de Janeiro</option>
                          <option value="rn">Rio Grande do Norte</option>
                          <option value="ro">Rondônia</option>
                          <option value="rs">Rio Grande do Sul</option>
                          <option value="rr">Roraima</option>
                          <option value="sc">Santa Catarina</option>
                          <option value="se">Sergipe</option>
                          <option value="sp">São Paulo</option>
                          <option value="to">Tocantins</option>
                      </select>
                  </div>
                </div>
                <div class="col-3">
                  <label for="cidade_nasc">Naturalidade</label>
                  <input style="text-transform: capitalize;"  type="text"  class="form-control" id="cidade_nasc" [(ngModel)]="dadosMotoristas.cidade_nasc" name="dadosMotoristas.cidade_nasc">
                </div>
                <div class="col-3">
                  <label for="cidade_nasc">Nacionalidade</label>
                  <input style="text-transform: capitalize;"  type="text"  class="form-control" id="pais" [(ngModel)]="dadosMotoristas.pais" name="dadosMotoristas.pais">
                </div>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header> Informações CNH </nb-card-header>
        <nb-card-body>
          <form>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-4">
                  <label for="cnh_registro">Registro</label>
                  <input style="text-transform: capitalize;"  type="text"  class="form-control" id="cnh_registro" [(ngModel)]="dadosMotoristas.cnh_registro" name="dadosMotoristas.cnh_registro">
                </div>
                <div class=" col-4">
                  <label for="cnh_espelho">Data Venc CNH</label>
                  <input type="date" class="form-control" id="cnh_dataVenc" [(ngModel)]="dadosMotoristas.cnh_dataVenc" name="dadosMotoristas.cnh_dataVenc">
                </div>
                <div class="col-4">
                    <div>
                        <label for="cnh_categoria">CATEGORIA CNH</label>
                        <select class="form-control" [(ngModel)]="dadosMotoristas.cnh_categoria" name="dadosMotoristas.cnh_categoria">
                            <option value="A">A<option>
                            <option value="B">B<option>
                            <option value="C">C<option>
                            <option value="D">D<option>
                            <option value="E">E<option>
                            <option value="AB">AB<option>
                            <option value="AC">AC<option>
                            <option value="AE">AE<option>
                            <option value="BC">BC<option>
                            <option value="CD">CD<option>
                        </select>
                    </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-4">
                  <label for="cnh_pri_habilitacao">Primeira Habilitação</label>
                  <input style="text-transform: capitalize;"  type="date"  class="form-control" id="cnh_pri_habilitacao" [(ngModel)]="dadosMotoristas.cnh_pri_habilitacao" name="dadosMotoristas.cnh_pri_habilitacao">
                </div>
                <div class=" col-4">
                  <label for="cnh_dt_emiss">Data Emissao</label>
                  <input type="date" class="form-control" id="cnh_dt_emiss" [(ngModel)]="dadosMotoristas.cnh_dt_emiss" name="dadosMotoristas.cnh_dt_emiss">
                </div>
                <div class="col-4">
                  <label for="cnh_renach">Renach</label>
                  <input style="text-transform: capitalize;"  type="text"  class="form-control" id="cnh_renach" [(ngModel)]="dadosMotoristas.cnh_renach" name="dadosMotoristas.cnh_renach">
                </div>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header> Informações Referenciais </nb-card-header>
        <nb-card-body>
          <form>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-8">
                  <label for="ref_nome1">Nome Completo</label>
                  <input style="text-transform: capitalize;"  type="text"  class="form-control" id="ref_nome1" [(ngModel)]="dadosMotoristas.ref_nome1" name="dadosMotoristas.ref_nome1">
                </div>
                <div class=" col-4">
                  <label for="ref_contato1">Contato</label>
                  <input style="text-transform: capitalize;"  type="text"  class="form-control" id="ref_contato1" [(ngModel)]="dadosMotoristas.ref_contato1" name="dadosMotoristas.ref_contato1">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-8">
                  <label for="ref_nome2">Nome Completo</label>
                  <input style="text-transform: capitalize;"  type="text"  class="form-control" id="ref_nome2" [(ngModel)]="dadosMotoristas.ref_nome2" name="dadosMotoristas.ref_nome2">
                </div>
                <div class=" col-4">
                  <label for="ref_contato2">Contato</label>
                  <input style="text-transform: capitalize;"  type="text"  class="form-control" id="ref_contato2" [(ngModel)]="dadosMotoristas.ref_contato2" name="dadosMotoristas.ref_contato2">
                </div>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header> Ações</nb-card-header>
        <nb-card-body>
          <form>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-6 ">
                  <button class="btn btn-primary btn-auth" (click)="confirmacao(dadosMotoristas)">ADICIONAR</button>
                  <button class="btn btn-danger btn-auth" (click)="cancelar()">CANCELAR</button>
                </div>

              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
