   <nb-card  >
      <div class="icon-container">
        <div class="icon {{ type }}">
          <ng-content></ng-content>
        </div>
      </div>

      <div class="details" (click)="abrirPagina(title)">
        <div class="title">{{ title }}</div>
        <div class="status">Clique aqui!</div>
      </div>
    </nb-card>
