<div class="container">
    <div class="feed-message">
        <div class="text-block text-message"><br>
            <div class="row">
                <div class="col 10">
                    <div class="message-header">
                            <h1>Motorista</h1>
                    </div>
                </div>
                <div class="col 2">
                    <div class="message-header">
                        <button class=" button btn btn-success " (click)="adicionar()">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>
    </div><br><hr>


    <div class="feed-message" *ngFor="let message of listar"><br>
        <div class="text-block text-message">
            <div class="row">

                <div class="col 6">
                    <div class="message-header">
                        <span class="author">{{ message.nome}}</span>
                    </div>
                </div>
                
                <div class="col 2">
                    <div class="message-header">
                        <span class="author"> CNPJ: {{ message.cpf}}</span>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>