<div class="container">
    <div class="feed-message"><br>
        <div class="text-block text-message">
            <div class="row">
                <div class="col 10">
                    <div class="message-header">
                        <h1>Clientes</h1>
                    </div>
                </div>
                <div class="col 2">
                    <div class="message-header">
                        <button class=" button btn btn-success " (click)="adicionar()">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>
    </div><br><hr>


    <div class="feed-message" *ngFor="let message of listar"><br>
        <div class="text-block text-message">
            <div class="row">
                <div class="col 4">
                    <div class="message-header">
                        <span class="author"> CNPJ:{{message.cnpj}}</span>
                    </div>
                </div>
                <div class="col 6">
                    <div class="message-header">
                        <span class="author">{{ message.razao_social}}</span>
                    </div>
                </div>             
                
            </div>
        </div>
    </div>
</div>