

  nb-tab {
    flex: 1;
    padding-bottom: 1.25rem;
  }

  .chart-container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  ngx-chart-panel-header, ngx-profit-chart, ngx-orders-chart {
    padding: 0 1.25rem;
  }

