<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header> Dados Frete </nb-card-header>
                <nb-card-body>
                    <form>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-5 ">
                                    <label for="localColeta">Nome Cliente</label>
                                    <input  style="text-transform: capitalize;"  type="text class="form-control" id="localColeta" disabled [(ngModel)]="dadosFretes.nomeCliente" name="dadosFretes.nomeCliente">
                                </div>
                                <div class="col-5 ">
                                    <label for="localColeta">Nome Contato</label>
                                    <input  style="text-transform: capitalize;"  type="text class="form-control" id="nomeContato" disabled [(ngModel)]="dadosFretes.nomeContato" name="dadosFretes.nomeContato">
                                </div>
                                <div class="col-2 ">
                                    <label for="localColeta">Telefone Contato</label>
                                    <input  style="text-transform: capitalize;"  type="text class="form-control" id="telContato" disabled [(ngModel)]="dadosFretes.telContato" name="dadosFretes.telContato">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-6">
                                    <label for="nome"> Endereço Completo da Coleta</label>
                                    <input  style="text-transform: capitalize;"  type="text class="form-control" id="localColeta" disabled [(ngModel)]="dadosFretes.localColeta" name="dadosFretes.localColeta"
                                        placeholder="Nome da rua, numero, bairro, cidade">
                                </div>
                                <div class="col-6">
                                    <label for="nome"> Endereço Completo da Entrega</label>
                                    <input  style="text-transform: capitalize;"  type="text class="form-control" id="localEntrega" disabled [(ngModel)]="dadosFretes.localEntrega" name="dadosFretes.localEntrega"
                                        placeholder="Nome da rua, numero, bairro, cidade">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-3">
                                    <label for="nome">Tipo Mercadoria</label>
                                    <input  style="text-transform: capitalize;"  type="text class="form-control" id="tipodeMercadoria" disabled [(ngModel)]="dadosFretes.tipodeMercadoria" name="dadosFretes.tipodeMercadoria">
                                </div>
                                <div class="col-3">
                                    <label for="telefone">Volume</label>
                                    <input  style="text-transform: capitalize;"  type="text class="form-control" id="volume" disabled [(ngModel)]="dadosFretes.volume" name="dadosFretes.volume">
                                </div>
                                <div class="col-3">
                                    <label for="cpf_motorista">Cubagem</label>
                                    <input  style="text-transform: capitalize;"  type="text class="form-control" id="cubagem" disabled [(ngModel)]="dadosFretes.cubagem" name="dadosFretes.cubagem">
                                </div>
                                <div class="col-3">
                                    <label for="celular">Quantidade</label>
                                    <input  style="text-transform: capitalize;"  type="text class="form-control" id="quantidade" disabled [(ngModel)]="dadosFretes.quantidade" name="dadosFretes.quantidade">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-4 ">
                                    <label for="nome_motorista">Valor Frete</label>
                                    <input  style="text-transform: capitalize;"  type="text class="form-control" id="valorFrete" disabled [(ngModel)]="dadosFretes.valorFrete" name="dadosFretes.valorFrete"
                                        placeholder="Nome Motorista">
                                </div>
                                <div class="col-4">
                                    <label for="rg_motorista">Peso</label>
                                    <input  style="text-transform: capitalize;"  type="text class="form-control" id="peso" disabled [(ngModel)]="dadosFretes.peso" name="dadosFretes.peso">
                                </div>
                                <div class="col-4 ">
                                    <label for="telefone_motorista">Status</label>
                                    <select class="form-control" class="form-control" id="status" disabled [(ngModel)]="dadosFretes.status" name="dadosFretes.status">>
                                        <option>Negociado</option>
                                        <option>Em Negociação</option>
                                        <option>Livre</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header> Ações </nb-card-header>
                <nb-card-body>
                    <form>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-6 ">
                                    <button class="btn btn-primary btn-auth" (click)="editar()">EDITAR</button>
                                    <button class="btn btn-danger btn-auth" (click)="cancelar()">CANCELAR</button>
                                </div>

                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>

</div>