
 <div class="modal-header">
    <span>{{ modalHeader }}</span>

  </div>
  <div class="modal-body">
    <div class="feed-messages-container">
        <div class="feed-message" *ngFor="let message of listar">
            <div class="text-block text-message">
                <div class="row">
                     <div class="col 3">
                        <div class="message-header">
                            <span class="author">CPF: {{message.cnpj}}</span>
                        </div>
                    </div>
                    <div class="col 3">
                        <div class="message-header">
                            <span class="author">DEVICE: {{message.device}}</span>
                        </div>
                    </div>
                    <div class="col 3">
                        <div class="message-header">
                            <span class="author">TELEFONE: {{message.telefone}}</span>
                        </div>
                    </div>
                    <div class="col 3">
                        <div class="message-header">
                            <img class="img-circle" src="{{message.imagePathFoto}}" height="350px">
                        </div>
                    </div>
                    <div>
                        <button class=" button btn btn-danger " (click)="delete(message)">DELETAR</button>
                        <button class=" button btn btn-success " (click)="visualizar(message)">CADASTRAR</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- <div class="modal-footer">
    <button class="btn btn-md btn-primary" (click)="proprietario()">Sim </button>
    <button class="btn btn-md btn-danger" (click)="motorista()">Não</button>
  </div> -->
