<div class="widgets">

  <div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-header> Dados Motorista </nb-card-header>
            <p-toast [style]="{marginTop: '80px'}" position="top-right" ></p-toast> 

            <nb-card-body>        <form>
          <div class="form-group">
            <div class="row show-grid">
              <div class="col-6 ">
                <label for="cpf">CPF</label>
                <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="cpf" name="dadosMotoristas.cpf" placeholder="  Pessoa Fisica" [(ngModel)]="dadosMotoristas.cpf">
              </div>
              <div class="col-6 ">
                <label for="data_admi">Data Cadastro</label>
                <input type="date" class="form-control"   disabled id="data_admi" name="dadosMotoristas.data_admi" [(ngModel)]="dadosMotoristas.data_admi">
              </div>              
            </div>
          </div>
          <div class="form-group">
            <label for="nome">Nome</label>
            <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="nome" name="dadosMotoristas.nome" [(ngModel)]="dadosMotoristas.nome">
          </div>
          <div class="form-group">
            <div class="row show-grid">
              <div class="col-6 ">
                <label for="est_civil">Estado Civil</label>
                <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="est_civil" [(ngModel)]="dadosMotoristas.est_civil" name="dadosMotoristas.est_civil">
              </div>
              <div class="col-6 ">
                <label for="situacao">Situacao</label>
                <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="situacao" [(ngModel)]="dadosMotoristas.situacao" name="dadosMotoristas.situacao">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row show-grid">
              <div class="col-12 ">
                <label for="nome_pai">Nome Pai</label>
                <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="nome_pai" [(ngModel)]="dadosMotoristas.nome_pai" name="dadosMotoristas.nome_pai">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row show-grid">
              <div class="col-12 ">
                <label for="nome_pai">Nome Mãe</label>
                <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="nome_mae" [(ngModel)]="dadosMotoristas.nome_mae" name="dadosMotoristas.nome_mae">
              </div>
            </div>
          </div>
          <div class="form-group">
              <div class="row show-grid">
                <div class="col-4 ">
                  <label for="senha">Senha</label>
                  <input type="text"  class="form-control" id="senha" [(ngModel)]="dadosMotoristas.senha" name="dadosMotoristas.senha">
                </div>
              </div>
            </div>
        </form>
      </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header> Conatato Motorista </nb-card-header>
            <nb-card-body>        
              <form>
          <div class="form-group">
            <div class="row show-grid">
              <div class="col-4 ">
                <label for="telefone">Telefone 1 </label>
                <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="telefone1" [(ngModel)]="dadosMotoristas.fone1" name="dadosMotoristas.telefone1">
              </div>
              <div class="col-4 ">
                <label for="telefone">Telefone 2 </label>
                <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="telefone2" [(ngModel)]="dadosMotoristas.fone2" name="dadosMotoristas.telefone2">
              </div>
              <div class="col-4 ">
                <label for="celular">Celular</label>
                <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="celular" [(ngModel)]="dadosMotoristas.celular" name="dadosMotoristas.celular">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row show-grid">
              <div class="col-8 ">
                <label for="email">Email </label>
                <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="email" [(ngModel)]="dadosMotoristas.email" name="dadosMotoristas.email">
              </div>
              <div class="col-4 ">
                <label for="contato">Contato</label>
                <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="contato" placeholder=" Nome Contato" [(ngModel)]="dadosMotoristas.contato" name="dadosMotoristas.contato">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row show-grid">
              <div class="col-4 ">
                <label for="dtnasc">Data Nasc </label>
                <input type="date" class="form-control"   disabled id="dtnasc" [(ngModel)]="dadosMotoristas.dtNasc" name="dadosMotoristas.dtNasc">
              </div>
              <div class="col-4 ">
                <label for="cep">Cep</label>
                <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="cep" [(ngModel)]="dadosMotoristas.cep" name="dadosMotoristas.cep" >
              </div>
              <div class="col-4 ">
                <label for="complemento">Complemento</label>
                <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="complemento" placeholder="Complemento" [(ngModel)]="dadosMotoristas.complemento"
                  name="dadosMotoristas.complemento">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row show-grid">
              <div class="col-10">
                <label for="cep">Endereço</label>
                <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="endereco" [(ngModel)]="dadosMotoristas.endereco" name="dadosMotoristas.endereco">
              </div>
              <div class="col-2">
                <label for="nro">Nº</label>
                <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="nro" placeholder="nº casa" [(ngModel)]="dadosMotoristas.numero" name="dadosMotoristas.numero">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row show-grid">
              <div class="col-6">
                <label for="bairro">Bairro</label>
                <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="bairro" [(ngModel)]="dadosMotoristas.bairro" name="dadosMotoristas.bairro">
              </div>
              <div class=" col-4">
                <label for="cidade">Cidade</label>
                <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="cidade" [(ngModel)]="dadosMotoristas.cidade" name="dadosMotoristas.cidade">
              </div>
              <div class="col-2">
                <label for="estado">Estado</label>
                <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="estado" [(ngModel)]="dadosMotoristas.estado" name="dadosMotoristas.estado">
              </div>
            </div>
          </div>
        </form>
     </nb-card-body>
     </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header> Informações RG </nb-card-header>
            <nb-card-body>
        <form>
          <div class="form-group">
            <div class="row show-grid">
              <div class="col-3">
                <label for="rg">RG</label>
                <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="rg" [(ngModel)]="dadosMotoristas.rg" name="dadosMotoristas.rg">
              </div>
              <div class=" col-3">
                <label for="uf_rg">UF RG</label>
                <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="uf_rg" [(ngModel)]="dadosMotoristas.uf_rg" name="dadosMotoristas.uf_rg">
              </div>
              <div class="col-3">
                <label for="cidade_nasc">Naturalidade</label>
                <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="cidade_nasc" [(ngModel)]="dadosMotoristas.cidade_nasc" name="dadosMotoristas.cidade_nasc">
              </div>
              <div class="col-3">
                <label for="cidade_nasc">Nacionalidade</label>
                <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="pais" [(ngModel)]="dadosMotoristas.pais" name="dadosMotoristas.pais">
              </div>
            </div>
          </div>
        </form>
     </nb-card-body>
     </nb-card>
    </div>
  </div>

  <div class="row">
      <div class="col-md-12">
          <nb-card>
              <nb-card-header> Informações CNH </nb-card-header>
              <nb-card-body>
          <form>
            <div class="form-group">
              <div class="row show-grid">
                <div class="col-4">
                  <label for="cnh_registro">Registro</label>
                  <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="cnh_registro" [(ngModel)]="dadosMotoristas.cnh_registro" name="dadosMotoristas.cnh_registro">
                </div>
                <div class=" col-4">
                  <label for="cnh_espelho">Espelho</label>
                  <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="cnh_espelho" [(ngModel)]="dadosMotoristas.cnh_espelho" name="dadosMotoristas.cnh_espelho">
                </div>
                <div class="col-4">
                  <label for="cnh_categoria">Categoria</label>
                  <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="cnh_categoria" [(ngModel)]="dadosMotoristas.cnh_categoria" name="dadosMotoristas.cnh_categoria">
                </div>
              </div>
            </div>
            <div class="form-group">
                <div class="row show-grid">
                  <div class="col-4">
                    <label for="cnh_pri_habilitacao">Primeira Habilitação</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="cnh_pri_habilitacao" [(ngModel)]="dadosMotoristas.cnh_pri_habilitacao" name="dadosMotoristas.cnh_pri_habilitacao">
                  </div>
                  <div class=" col-4">
                    <label for="cnh_dt_emiss">Data Emissao</label>
                    <input type="date" class="form-control"   disabled id="cnh_dt_emiss" [(ngModel)]="dadosMotoristas.cnh_dt_emiss" name="dadosMotoristas.cnh_dt_emiss">
                  </div>
                  <div class="col-4">
                    <label for="cnh_renach">Renach</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="cnh_renach" [(ngModel)]="dadosMotoristas.cnh_renach" name="dadosMotoristas.cnh_renach">
                  </div>
                </div>
              </div>
          </form>
       </nb-card-body>
       </nb-card>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header> Informações Referenciais </nb-card-header>
                <nb-card-body>
            <form>
              <div class="form-group">
                <div class="row show-grid">
                  <div class="col-8">
                    <label for="ref_nome1">Nome Completo</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="ref_nome1" [(ngModel)]="dadosMotoristas.ref_nome1" name="dadosMotoristas.ref_nome1">
                  </div>
                  <div class=" col-4">
                    <label for="ref_contato1">Contato</label>
                    <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="ref_contato1" [(ngModel)]="dadosMotoristas.ref_contato1" name="dadosMotoristas.ref_contato1">
                  </div>                  
                </div>
              </div>
              <div class="form-group">
                  <div class="row show-grid">
                    <div class="col-8">
                      <label for="ref_nome2">Nome Completo</label>
                      <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="ref_nome2" [(ngModel)]="dadosMotoristas.ref_nome2" name="dadosMotoristas.ref_nome2">
                    </div>
                    <div class=" col-4">
                      <label for="ref_contato2">Contato</label>
                      <input  style="text-transform: capitalize;"  type="text" class="form-control"   disabled id="ref_contato2" [(ngModel)]="dadosMotoristas.ref_contato2" name="dadosMotoristas.ref_contato2">
                    </div>                  
                  </div>
                </div>
            </form>
          </nb-card-body>
          </nb-card>
        </div>
      </div>
  

  <div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header> Ações </nb-card-header>
            <nb-card-body>
        <form>
          <div class="form-group">
            <div class="row show-grid">
              <div class="col-6 ">
                <button class="btn btn-primary btn-auth" (click)="atualizar(dadosMotoristas)">EDITAR</button>
                <button class="btn btn-danger btn-auth" (click)="cancelar()" >CANCELAR</button>
              </div>

            </div>
          </div>
        </form>
      </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>