<div class="feed-messages-container">
    <div class="feed-message">
        <div class="text-block text-message">
            <div class="row">
                <div class="col 6">
                    <div class="message-header">
                        <input  style="text-transform: capitalize;"  type="text" class="form-control form-control-rounded" (keydown)="getItems($event)"
                            placeholder="Pesquisar">
                    </div>
                </div>
                <div class="col-4">
                    <select name="tipo_veiculo" id="tipo_veiculo"  class="form-control form-control-rounded" placeholder="Filtro " (change)="filtrosItems($event)">
                        <option value="">Selecione o filtro </option>
                        <option value="Utilitário">Utilitário</option>
                        <option value="VUC">VUC</option>
                        <option value="Toco Baú">Toco Baú</option>
                        <option value="Toco Aberto">Toco Aberto</option>
                        <option value="Truck Aberto">Truck Aberto</option>
                        <option value="Truck Fechado">Truck Fechado</option>
                        <option value="Truck Sider">Truck Sider</option>
                        <option value="SR Aberto">SR Aberto</option>
                        <option value="SR Fechado">SR Fechado</option>
                        <option value="Cavalo 4X2">Cavalo 4X2</option>
                        <option value="Cavalo 6X2">Cavalo 6X2</option>
                        <option value="Cavalo 6X2 T">Cavalo 6X2 T</option>
                        <option value="Cavalo 6X4">Cavalo 6X4</option>
                        <option value="Cavalo 8X4">Cavalo 8X4</option>
                    </select>
                </div>
                
                <div class="col 2">
                    <div class="message-header">
                        <button class=" button btn btn-success " (click)="adicionar()">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="feed-message" *ngFor="let message of getVeiculos">
        <div class="text-block text-message">
            <div class="row">

                <div class="col 3">
                    <div class="message-header">
                        <span class="author"> {{ message.nome_motorista}}</span>
                    </div>
                </div>
                <div class="col 3">
                    <div class="message-header">
                        <span class="author">{{ message.razao_social}}</span>
                    </div>
                </div>
                <div class="col 3">
                    <div class="message-header">
                        <span class="author">{{ message.tipo_veiculo}}</span>
                    </div>
                </div>
                <div>
                    <button class=" button btn btn-info " (click)="fotos(message)">Fotos</button>
                    <button class=" button btn btn-primary " (click)="visualizarDados(message)">Visualizar</button>
                    <button class=" button btn btn-success " (click)="editarDados(message)">Editar</button>
                </div>
            </div>
        </div>
    </div>
</div>