<div class="widgets">

    <div class="row">
        <div class="col-md-6">
            <nb-card>
                <nb-card-header> Dados Proprietário / Motorista</nb-card-header>
                <nb-card-body>
                    <form>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-6 ">
                                    <label for="cnpj">CPF - CNPJ</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="cnpj" name="cnpj" [(ngModel)]="dadosVeiculos.cnpj" placeholder="  Pessoa Juridica"
                                        >
                                </div>
                                <div class="col-6 ">
                                    <label for="insc_estadual">RG - Inscrição Estadual</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="insc_estadual" [(ngModel)]="dadosVeiculos.ins_est" name="dadosVeiculos.ins_est">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nome"> Nome - Razão Social</label>
                            <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="nome" [(ngModel)]="dadosVeiculos.razao_social" name="dadosVeiculos.razao_social"
                                placeholder="Nome ou Razão Social">
                        </div>
                        <div class="form-group">
                            <label for="nome">Endereço</label>
                            <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="endereco" [(ngModel)]="dadosVeiculos.endereco" name="dadosVeiculos.endereco"
                                placeholder="Endereço">
                        </div>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-6 ">
                                    <label for="telefone">Telefone</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="telefone" [(ngModel)]="dadosVeiculos.telefone" name="dadosVeiculos.telefone">
                                </div>
                                <div class="col-6 ">
                                    <label for="celular">Celular</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="celular" [(ngModel)]="dadosVeiculos.celular" name="dadosVeiculos.celular">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-6 ">
                                    <label for="cpf_motorista">CPF Motorista</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="cpf_motorista" [(ngModel)]="dadosVeiculos.cpf_motorista" name="dadosVeiculos.cpf_motorista"
                                       >
                                </div>
                                <div class="col-6 ">
                                    <label for="rg_motorista">RG Motorista</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="rg_motorista" [(ngModel)]="dadosVeiculos.rg_motorista" name="dadosVeiculos.rg_motorista">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-12 ">
                                    <label for="nome_motorista">Nome Motorista</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="nome_motorista" [(ngModel)]="dadosVeiculos.nome_motorista" name="dadosVeiculos.nome_motorista"
                                        placeholder="Nome Motorista">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-6 ">
                                    <label for="telefone_motorista">Telefone Motorista</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="telefone_motorista" [(ngModel)]="dadosVeiculos.telefone_motorista" name="dadosVeiculos.telefone_motorista">
                                </div>
                                <div class="col-6 ">
                                    <label for="celular_motorista">Celular Motorista</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="celular_motorista" [(ngModel)]="dadosVeiculos.celular_motorista" name="dadosVeiculos.celular_motorista">
                                </div>
                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-md-6">
            <nb-card>
                <nb-card-header> Dados Veiculo</nb-card-header>
                <nb-card-body>
                    <form>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-8 ">
                                    <label for="telefone">Descrição </label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="descricao" [(ngModel)]="dadosVeiculos.descricao" name="dadosVeiculos.descricao">
                                </div>
                                <div class="col-4 ">
                                    <label for="celular">Placa</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="placa" [(ngModel)]="dadosVeiculos.placa" name="dadosVeiculos.placa">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-4 ">
                                    <label for="email">Ano </label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="ano" [(ngModel)]="dadosVeiculos.ano" name="dadosVeiculos.ano">
                                </div>
                                <div class="col-4 ">
                                    <label for="contato">Cor</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="cor" [(ngModel)]="dadosVeiculos.contato" name="dadosVeiculos.cor">
                                </div>
                                <div class="col-4 ">
                                    <label for="contato">Marca Modelo</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="marca_modelo" [(ngModel)]="dadosVeiculos.marca_modelo" name="dadosVeiculos.marca_modelo">
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-4 ">
                                    <label for="dtnasc">Chassi </label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="chassi" [(ngModel)]="dadosVeiculos.chassi" name="dadosVeiculos.chassi">
                                </div>
                                <div class="col-4 ">
                                    <label for="renavam">Renavam</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="renavam" [(ngModel)]="dadosVeiculos.renavam" name="dadosVeiculos.renavam">
                                </div>
                                <div class="col-4 ">
                                    <label for="media_km">Media km</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="media_km" [(ngModel)]="dadosVeiculos.media_km" name="dadosVeiculos.media_km">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-3">
                                    <label for="med_carroceria">Med. Carroceria</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="med_carroceria" [(ngModel)]="dadosVeiculos.med_carroceria" name="dadosVeiculos.med_carroceria">
                                </div>
                                <div class="col-3">
                                    <label for="tara">Tara</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="tara" [(ngModel)]="dadosVeiculos.tara" name="dadosVeiculos.tara">
                                </div>
                                <div class="col-3">
                                    <label for="cap_m3">Capaciade m3</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="cap_m3" [(ngModel)]="dadosVeiculos.cap_m3" name="dadosVeiculos.cap_m3">
                                </div>
                                <div class="col-3">
                                    <label for="cap_KG">Capacidade Kilo</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="cap_KG" [(ngModel)]="dadosVeiculos.cap_KG" name="dadosVeiculos.cap_KG">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-3">
                                    <label for="aquisicao">Aquisição</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="aquisicao" [(ngModel)]="dadosVeiculos.aquisicao" name="dadosVeiculos.aquisicao">
                                </div>
                                <div class=" col-3">
                                    <label for="hodometro">Hodometro</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="hodometro" [(ngModel)]="dadosVeiculos.hodometro" name="dadosVeiculos.hodometro">
                                </div>
                                <div class="col-3">
                                    <label for="n_eixos">N. Eixos</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="n_eixos" [(ngModel)]="dadosVeiculos.n_eixos" name="dadosVeiculos.n_eixos">
                                </div>
                                <div class="col-3">
                                    <label for="cap_tanque">Capacid. Tanque</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="cap_tanque" [(ngModel)]="dadosVeiculos.cap_tanque" name="dadosVeiculos.cap_tanque">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-6">
                                    <label for="tipo_veiculo">tipo_veiculo</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="tipo_veiculo" [(ngModel)]="dadosVeiculos.tipo_veiculo" name="dadosVeiculos.tipo_veiculo">
                                </div>
                                <div class="col-4">
                                    <label for="cidade_veiculo">Cidade Veiculo</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="cidade_veiculo" [(ngModel)]="dadosVeiculos.cidade_veiculo" name="dadosVeiculos.cidade_veiculo">
                                </div>
                                <div class="col-2">
                                    <label for="uf">UF </label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="uf" [(ngModel)]="dadosVeiculos.uf" name="dadosVeiculos.uf">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-12">
                                    <label for="informacao">Informações</label>
                                    <input  style="text-transform: capitalize;"  type="text" class="form-control" disabled id="informacao" [(ngModel)]="dadosVeiculos.informacao" name="dadosVeiculos.informacao">
                                </div>

                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header> Ações</nb-card-header>
                <nb-card-body>
                    <form>
                        <div class="form-group">
                            <div class="row show-grid">
                                <div class="col-6 ">
                                    <button class="btn btn-primary btn-auth" (click)="editar()">EDITAR</button>
                                    <button class="btn btn-danger btn-auth" (click)="cancelar()">CANCELAR</button>
                                </div>

                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>

</div>