<div class="feed-messages-container">
    <div class="feed-message">
        <div class=" text-block text-message row">
            <div class="text-block col-8">
                <input  type="text" class="form-control form-control-rounded" (keydown)="getItems($event)" placeholder="Pesquisar">
            </div>
            <div class="text-block col-2">
                <button class=" button btn btn-success " (click)="cadastrar()">Adicionar</button>
            </div>
        </div>
    </div>
</div><br />
<hr>
<div class="feed-messages-container">
    <div class="feed-message" *ngFor="let message of getColetas"><br />
        <div class="text-block text-message">
            <div class="row">
                <div class="col-3">
                    <div class="message-header">
                        <span class="author"> Coleta:{{ message.coleta.razao_social_cliente}}</span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="message-header">
                        <span class="author">Entrega: {{ message.entrega.razao_social_cliente}}</span>
                    </div>
                </div>
                <div class="col-3">
                    <div class="message-header">
                        <span class="author"> {{ message.coleta.status}}</span>
                    </div>
                </div> 
                <div>
                    <div >                       
                        <button class=" button btn btn-success " (click)="editarDados(message)">Editar</button>                                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>