<div class="row">
    <p-toast [style]="{marginTop: '80px'}" position="top-right" ></p-toast>

  <div class="col-xxxl-3 col-md-3" *ngFor="let statusCard of statusCards">
    <ngx-status-card [title]="statusCard.title"
                     [type]="statusCard.type">
      <i [ngClass]="statusCard.iconClass"></i>
    </ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-12 col-xxl-12 col-md-12">
    <ngx-notificacao></ngx-notificacao>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-12 col-xxl-12 col-md-12">
    <rastrear></rastrear>
  </div>
</div>
