<div class="widgets">
    <div class="row">
      <div class="col-md-12">
          <nb-card>
              <nb-card-header> Rastreamento de Motorista</nb-card-header>
              <nb-card-body>
          <div #gmap style="width:97%;height:680px;margin-top:1%"></div>
       </nb-card-body>
       </nb-card>
      </div>
    </div>

  </div>
